form {
    bottom: -15px;
    right: -20px;
    width: 320px;
    padding: 16px 4px 16px 0;
    font-size: 13px;
    border-radius: none;
    box-shadow: none;
  }

  .form-control {
    width: 100%;
    box-sizing: border-box;
    background: #787575a4;
    outline: invert;
    resize: none;
    color: #ffffff;
    border: 0;
    border-radius: 0;
    transition: all 0.3s;
  }

  #button1 {
    float: right;
    padding: 8px 8px;
    margin: 8px 0 0;
    border: none;
    background: #0d0d65;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Poppins', serif;
    font-size: medium;
  }

  #button1:hover{
    background: #08089e;
  }

  #sub1{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #1b2439;
    padding-top: 15px;
    font-size: x-large;
  }

    a i{
    color: rgb(31, 36, 144);
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
    }

li a{
    color:black;
}

#dis{
  color:rgb(1, 99, 17);
  font-style: oblique;
  font-weight: bolder;
}

#dis:hover{
  color:rgb(33, 33, 218);
  cursor: pointer;
}

#text1{
  font-family: 'Oswald', sans-serif;
  color: #1b2439;
  font-size: 3.2vh;
  margin-bottom: auto;
  text-align: justify;
  padding-bottom: 10px;
}
