.custom-modal2 {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 490px;
    background-color: white;
    padding: 15px;
  }
  
  .custom-modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .input-full-width{
    width: 100%;
  }
  
  .form-group2 label {
    display: block;
    margin-bottom: 2px;
  }
  
  .form-group2 input {
    width: 120%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: justify;
  }
  