#foot1 {
    font-size: 16px;
    text-align:justify ;
}

.custom-modal1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    background-color: white;
    padding: 20px;
  }
  
  .custom-modal-overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .textarea-full-width {
    width: 100%;
    height: 164px;
  }

  #Id2{
    font-style: oblique;
    font-weight:bolder;
  }

  .form-group2 label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group2 input {
    width: 120%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .custom-modal2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: white;
    padding: 20px;
  }
  
  .custom-modal-overlay2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  td {
    word-spacing: 0.3em;
    line-height: 17.5px;
  }
  