.footer-01 {
    margin-top: 30px;
    background: #0d1824;
    position: flex;
    z-index: 0;
    padding: 10px;
    bottom: 0;
    overflow: hidden; 
    width: 100%;
  }

    .footer-01 p {
      color: rgba(255, 255, 255, 0.6); }
    .footer-01 .footer-heading {
      font-size: 18px;
      margin-bottom: 30px;
      color: #fff;
      position: relative; 
    }
    .footer-01 ul.list-unstyled li a {
      font-family: 'Poppins', serif;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.7); 
    }
  #foot{
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    text-align:justify ;
  }

  .custom-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 370px;
    height: 330px;
    background-color: white;
    padding: 20px;
  }
  
  .custom-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
    
  .form1 {
    margin-bottom: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
  
  .form-group1 input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .form-group1 button {
    text-align: center;
    justify-content: center;
    padding: 10px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px;
  }
  
  #inicio_ses {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .form {
    background-color: white;
    padding: 20px;
  }
  
  .form h2 {
    text-align: center;
  }
  
  .form-group1 {
    margin-bottom: 10px;
  }
  
  .form-group1 label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group1 input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group1 button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-group1 button:hover {
    background-color: #0056b3;
  }