html{
  scroll-behavior: smooth;
}

body {
  background-color: #7fc9e242;
  font-family: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

  h2{
    font-size: 20px; 
  }


.bg-left-half {
  position: relative; }
  .bg-left-half:before {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    background-color: #f8f9fa; }

.media-29101 img {
  margin-bottom: 5px; }

.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important; 
}
.media-29101 h3 a {
    color: #1e3244;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-align: center;
}

.img-fluid{
  width: auto;
  height: 200px;
}

/* Ccs de cards */

.card-title1{
  font-family: 'Oswald', sans-serif;
  font-size:35px;
  font-weight: bolder;
  color: #1b2439;
}

.card-text{
  font-family: 'Oswald', sans-serif;
  color: #1b2439;
  font-size: 3.2vh;
  margin-bottom: auto;
  text-align: justify;
  padding-bottom: 10px;
  margin-left: 5vw;
}

.card-1{
  background-color: #7fc9e200;
  padding-top: 90px;
  border-radius: 20px;
}

/* .card-img-to{
  width: 250px;
  height: auto;

} */

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    min-height: 240px;
  }

  @media (max-width: 420px) {
    min-height: 190px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-position: center center;
    background-repeat:no-repeat;

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(
          0deg,
          rgba(4, 69, 114, 0.5) 0%,
          rgba(4, 69, 114, 1) 100%
        );
      }
    }
  }

  .card-meta {
    color: #26bd75;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(14, 52, 77);
    background: linear-gradient(
      0deg,
      rgba(51, 71, 84, 0.379) 0%,
      rgb(10, 71, 114) 100%
    );
  }
}


.text-white{
  font-family: 'Oswald', sans-serif;
  font-style: oblique;
}

#subtitulo{
  padding-top: 90px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #1b2439;
}

#sub{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #1b2439;
  padding-top: 15px;
  padding-bottom: 5px;
}

/*Lista*/
.dl-blurbs {
  display: grid;
  width: 100%;
}
@media (min-width: 768px) {
  .dl-blurbs {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }
}

dl {
  counter-reset: count;
  padding-left: 4vw;
  padding-right: 4vw;
  margin: 0;
}
@media (min-width: 768px) {
  dl {
    padding-left: 2vw;
  }
}
@media (min-width: 1024px) {
  dl {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

dl + dl {
  counter-reset: counter 4;
}

dt {
  counter-increment: count;
  color: rgb(20, 110, 165);
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

dt::before {
  content: counter(count, decimal-leading-zero) ".";
  font-family: "Abril Fatface", cursive;
  color: #5ea5b8ff;
  margin-left: -1vw;
  padding-right: 12px;
}


dd {
  margin-left: 5vw;
  margin-bottom: 2vh;
  font-family: 'Oswald', sans-serif;
  color: #303438;
  font-size: 16px;
  text-align: justify;
}


/*Carrusel*/
.carrusel {
  align-items: center;
}

.carrusel-items {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0px;
}

.carrusel-item {
  min-width: 350px;
  max-width: 350px;
  height: 200px;
  outline: 2px solid rgba(26, 32, 110, 0.49);
  cursor: pointer;
}

.carrusel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carrusel-item:hover {
  transform: scale(1.2);
}