  
  .form1 {
    margin-bottom: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 20px;
  }
  
  .form-group1 input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .form-group1 button {
    padding: 10px 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 2px;
  }
  
  #inicio_ses {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .form {
    background-color: white;
    padding: 20px;
  }
  
  .form h2 {
    text-align: center;
  }
  
  .form-group1 {
    margin-bottom: 10px;
  }
  
  .form-group1 label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group1 input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .form-group1 button {
    width: 100%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .form-group1 button:hover {
    background-color: #0056b3;
  }
  
  