.image-container {
    position: relative;
    width: 400px;
    height: 420px;
    margin-bottom: 30px;
    margin-top:-10;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .column-list {
    column-count: 2;
    column-gap: 30px; /* Espacio entre columnas */
    line-height: 21px;
  }

  @media (max-width: 768px) {
    .column-list {
      column-count: 1; /* Cambiar a una sola columna en dispositivos con ancho máximo de 768px */
    }
  }

  .item-container {
    break-inside: avoid-column;
    margin: 5px;
  }