.bgimg {
    background-position: center;
    background-size: cover;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bgimg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor de transparencia según tus preferencias */
  }

  .display-middle {
    text-align: center;
    z-index: 1;
    color: white;
  }

  #rectan{
    background-color: rgb(255, 255, 255);
  }

  .card-text2{
    font-family: 'Oswald', sans-serif;
    color: #1b2439;
    font-size: 3vh;
    margin-bottom: auto;
    text-align: justify;
  }

  .card-text3{
    font-family: 'Oswald', sans-serif;
    color: #1b2439;
    font-size:23px;
    margin-bottom: auto;
    text-align: center;
    padding-bottom: 10px;
  }

  .card-text4{
    font-family: 'Oswald', sans-serif;
    color: rgb(20, 110, 165);;
    font-size: 3vh;
    margin-bottom: auto;
    text-align: justify;
  }