.card{
    border-radius: '0';
    overflow: hidden;
    box-shadow: 0;
    background-color: aliceblue;
}
.Modal image-container {
    height: 300px; 
    overflow: hidden;
  }
  
  .Modal image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la propiedad object-fit según tus necesidades */
  }
  
.card-body{
    background-color: aliceblue;
}