#card1{
    background-image: url('../../public/images/20220209_205654.jpg');
    background-size: cover;
  }
  #card2{
    background-image: url('../../public/images/20200625_203627.jpg');
    background-size: cover;
  }
  #card3{
    background-image: url('../../public/images/20200601_182831.jpg');
    background-size: cover;
  }
  #card4{
    background-image: url('../../public/images/WhatsApp\ Image\ 2023-05-05\ at\ 12.25.06\ PM\(1\).jpeg');
    background-size: cover;
  }

  .card {
    border: none;
    overflow: hidden;
    border-radius: 20px;
    text-align: center;
    background-size: cover;
    box-shadow: 3px 9px 5px rgba(3, 32, 51, 0.8);
    background-color: rgba(7, 7, 7, 0.445);
    @media (max-width: 768px) {
      min-height: 240px;
    }
  
    @media (max-width: 420px) {
      min-height: 190px;
    }
  }
  .content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    padding-top: 27%;
    transition: .5s;
    padding-bottom: 20%;
  }
  .card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 140%;
    background-position: center center;
    background-repeat:no-repeat;
  }
  .card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
     }
  .content h2,a {
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
  } 
  .card:hover .content{
    opacity: 10;
    font-family: 'Oswald', sans-serif;
    font-style: oblique;
    transform: scale(1);
    background-color: rgba(7, 7, 7, 0.7);
    background-size: cover;
  }
  #subtitulo{
    padding-top: 90px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #1b2439;
  }
  
  #sub{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #1b2439;
    padding-top: 15px;
    padding-bottom: 5px;
  }

