html{
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #7fc9e242;
    font-family: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
  p {
    color: #b3b3b3;
    font-weight: 300; }
  
  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }
  
    @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');
  
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
    
    .header{
        background-color: #1b2439;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 85px;
        padding: 5px 10%;
        position:fixed;
        top:0;
        width: 100%;
        z-index: 20;
    }
  
    h2{
      font-size: 20px; 
    }
    
    nav .logo{
        cursor: pointer;
        margin-right: auto;
    }
    
    .header .logo img{
        height: 70px;
        width: auto;
        transition: all 0.3s;
    }
    
    .header .logo img:hover{
        transform: scale(1.2);
    }
    
    .header .nav-links{
        list-style: none;
        display: flex; flex-wrap: wrap; justify-content: space-between;
    }
    
    .header .nav-links li{
        display: block;
        padding: 8px 20px;    
        font-weight: 500;
    }
    
    .header .nav-links li:hover{
        transform: scale(1.05);
    }
    
    nav .nav-links a{
        color: #eceff1;
        text-decoration: none;    
        text-align: right;
        font-family: 'Poppins', serif;
    }
    
    nav .nav-links li a:hover{
      color: #0c96af;
    }
    
    @media(max-width:992px){
    
    header .container-fluid{
        width: 100%;
        padding: 0 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
    
    header .navb-logo img{
    
    width: 140px;
    height: 66px;
    }
    
    header .item:hover{
    
    border-bottom: 3px solid #64d6f4;
    border-top: 3px solid #64d6f4;}
    
    .container-fluid{
      background: #1b2439;
    }
    
  a {
    -webkit-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease; }
    a, a:hover {
      text-decoration: none !important; }
  
  
  .bg-left-half {
    position: relative; }
  
  
