html{
  scroll-behavior: smooth;
}

body {
  background-color: #7fc9e242;
  font-family: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

p {
  color: #b3b3b3;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Urbanist", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

  @import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      font-family: 'Urbanist', sans-serif;
      font-size: 20px;

  }
  
  .header{
      background-color: #1b2439;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 85px;
      padding: 5px 10%;
      position:fixed;
      top:0;
      width: 100%;
      z-index: 80;
  }

  h2{
    font-size: 20px; 
  }
  
  nav .logo{
      cursor: pointer;
      margin-right: auto;
  }
  
  .header .logo img{
      height: 70px;
      width: auto;
      transition: all 0.3s;
  }
  
  .header .logo img:hover{
      transform: scale(1.2);
  }
  
  .header .nav-links{
      list-style: none;
      display: flex; flex-wrap: wrap; justify-content: space-between;
  }
  
  .header .nav-links li{
      display: block;
      padding: 8px 20px;    
      font-weight: 500;
  }
  
  .header .nav-links li:hover{
      transform: scale(1.05);
  }
  
  nav .nav-links a{
      color: #eceff1;
      text-decoration: none;    
      text-align: right;
      font-family: 'Poppins', serif;
  }
  
  nav .nav-links li a:hover{
    color: #0c96af;
  }
  
  @media(max-width:992px){
  
  header .container-fluid{
    width: 100%;
  padding: 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  }
  
  header .navb-logo img{
  
  width: 140px;
  height: 66px;
  }
  
  header .item:hover{
  
  border-bottom: 3px solid #64d6f4;
  border-top: 3px solid #64d6f4;
  }
  
  header .item-button a:hover{
  
  background-color: #64d6f4;
  }
  
  .container-fluid{
    background: #1b2439;
  }
  
a {
  -webkit-transition: 1s all ease;
  -o-transition: 1s all ease;
  transition: 1s all ease; }
  a, a:hover {
    text-decoration: none !important; }


.bg-left-half {
  position: relative; }
  .bg-left-half:before {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: -1;
    content: "";
    left: 0;
    top: 0;
    background-color: #f8f9fa; }

.media-29101 img {
  margin-bottom: 5px; }

.media-29101 h3 {
  font-size: 18px;
  font-weight: 900 !important; 
}
.media-29101 h3 a {
    color: #1e3244;
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-align: center;
}

.img-fluid{
  width: auto;
  height: 200px;
}

/* Ccs de cards */

.card-title1{
  font-family: 'Oswald', sans-serif;
  font-size:35px;
  font-weight: bolder;
  color: #1b2439;
}

.card-text{
  font-family: 'Oswald', sans-serif;
  color: #1b2439;
  font-size: 3vh;
  margin-bottom: auto;
  text-align: justify;
  padding-bottom: 10px;
}

.card-1{
  background-color: #7fc9e200;
  padding-top: 90px;
  border-radius: 20px;
}

/* .card-img-to{
  width: 250px;
  height: auto;

} */

.card {
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
    min-height: 240px;
  }

  @media (max-width: 420px) {
    min-height: 190px;
  }

  &.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-position: center center;
    background-repeat:no-repeat;

    &:hover {
      transform: scale(0.98);
      box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
      background-size: 130%;
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);

      .card-img-overlay {
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
        background: rgb(35, 79, 109);
        background: linear-gradient(
          0deg,
          rgba(4, 69, 114, 0.5) 0%,
          rgba(4, 69, 114, 1) 100%
        );
      }
    }
  }

  .card-meta {
    color: #26bd75;
  }
  .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  &:hover {
    .card-body {
      margin-top: 30px;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgb(14, 52, 77);
    background: linear-gradient(
      0deg,
      rgba(51, 71, 84, 0.379) 0%,
      rgb(10, 71, 114) 100%
    );
  }
}


.text-white{
  font-family: 'Oswald', sans-serif;
  font-style: oblique;
}

#subtitulo{
  padding-top: 90px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #1b2439;
}

#sub{
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: #1b2439;
  padding-top: 15px;
  padding-bottom: 5px;
}

/*Lista*/
.dl-blurbs {
  display: grid;
  width: 100%;
}
@media (min-width: 768px) {
  .dl-blurbs {
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
  }
}

dl {
  counter-reset: count;
  padding-left: 4vw;
  padding-right: 4vw;
  margin: 0;
}
@media (min-width: 768px) {
  dl {
    padding-left: 2vw;
  }
}
@media (min-width: 1024px) {
  dl {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

dl + dl {
  counter-reset: counter 4;
}

dt {
  counter-increment: count;
  color: #4f6d7aff;
  font-family: 'Oswald', sans-serif;
  font-size: 23px;
  text-transform: uppercase;
}

dt::before {
  content: counter(count, decimal-leading-zero) ".";
  font-family: "Abril Fatface", cursive;
  color: #5ea5b8ff;
  margin-left: -1vw;
  padding-right: 12px;
}


dd {
  margin-left: 5vw;
  margin-bottom: 2vh;
  font-family: 'Oswald', sans-serif;
  color: #303438;
  font-size: 18px;
  text-align: justify;
}

/*Footer */

.footer-01 {
  background: #0d1824;
  position: flex;
  z-index: 0;
  padding: 15px;
  overflow: hidden; }
  .footer-01 p {
    color: rgba(255, 255, 255, 0.6); }
  .footer-01 .footer-heading {
    font-size: 18px;
    margin-bottom: 30px;
    color: #fff;
    position: relative; 
    font-family: 'Poppins', serif;
  }
  .footer-01 ul.list-unstyled li a {
    font-family: 'Poppins', serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7); 
  }
#foot{
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Poppins', serif;
  font-size: 15px;
}